{% extends 'library_base.html' %}

{% block title %}{{ cashbook_entry.invoice_reference }} Add Invoice{% endblock %}

{% block nav-title %}{{ cashbook_entry.invoice_reference }} <span style="color:green">ADD INVOICE</span>{% endblock %}

{% block content %}


<!-- header -->
<div style="margin-top:30px">
  <header>
    <span>
    </span>
    <span>
      <button onclick="history.back()" class="btn btn-secondary btn-sm" style="width:200px">Cancel</button>
    </span>
  </header>
</div>




<div style="display:flex; justify-content:center; margin-top:20px">
  <form action="{% url 'cashbook_invoice_add_submission' library.id cashbook_month.id cashbook_entry.id %}" method="post" enctype="multipart/form-data">
    <div style="width:400px;">
        {% csrf_token %}
        <hr>
        <span>
          {% for i in cashbook_entry.invoices.all %}
            {{ i.uploaded_invoice|cut:"static/accounts/cashFlowUploadedInvoices/" }}<br>
          {% endfor %}
        </span>
        <hr>
        <!-- upload_invoice -->
        <div class="form-group col-md-12">
          <label for="uploaded_invoice" class="form-label">Upload</label>
          <input class="form-control" id="uploaded_invoice" type="file" name="uploaded_invoice">
        </div>

        <!--submit-->
        <div class="form-group col-md-12" style="margin-top:45px">
          <input type="submit" value="Add Entry" class="btn btn-secondary btn-sm form-control"> 
        </div>
      </div>
  </form>
</div>

{% endblock %}