{% extends 'library_base.html' %}

{% block title %}Go to Order Request{% endblock %}

{% block nav-title %}GO TO ORDER REQUEST{% endblock %}

{% block content %}

<span style="display:flex; justify-content:center; padding-top:250px">
  <a href="{% url 'order_request' library.id order_request.id %}" id="auto_clicked_button" style="width:400px" class="btn btn-default btn-sm">Go to Order Request</a>
</span>

<script>
  document.getElementById('auto_clicked_button').click();
</script>

{% endblock %}