{% extends 'library_base.html' %}

{% block title %}Return to Add/Edit Stock Item{% endblock %}

{% block nav-title %}RETURN TO STOCK ITEM ADD/EDIT{% endblock %}

{% block content %}


<span style="display:flex; justify-content:center; padding-top:250px">
  <a href="{% url 'stock_item_add_edit' library.id vinyl_release.id %}" id="auto_clicked_button" style="width:400px" class="btn btn-secondary btn-sm">Return to Add/Edit Stock Item</a>
</span>

<script>
  document.getElementById('auto_clicked_button').click();
</script>

{% endblock %}