<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>New Releases {{ search_end_date }} MASTER</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  <link href="/static/styles.css" rel="stylesheet">
  <link rel="icon" href="{% static 'vinylLibrary/libraryLogos/favicon.ico' %}" type="image/x-icon">
  <style>
    /* Style for the input */
    .two-char-input {
      width: 2em; /* Adjust as needed */
      text-align: center; /* Center align text */
    }

    /* Hide up/down buttons */
    .two-char-input::-webkit-outer-spin-button,
    .two-char-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .two-char-input[type=number] {
      -moz-appearance: textfield; /* Firefox */
    }

    /* Adjust table cell padding */
    .crate_id_col_header {
      padding: 1mm; /* Set padding to 2mm */
      width: 15%; /* Set width to minimum possible */
      white-space: nowrap; /* Prevent wrapping */
    }
    .atl_col_header {
      padding: 1mm; /* Set padding to 2mm */
      width: 40%; /* Set width to minimum possible */
      white-space: nowrap; /* Prevent wrapping */
    }
    .cat_col_header {
      padding: 1mm; /* Set padding to 2mm */
      width: 12%; /* Set width to minimum possible */
      white-space: nowrap; /* Prevent wrapping */
    }
    /* Adjust table cell padding */
    .minimize-td {
      padding: 1mm; /* Set padding to 2mm */

      white-space: nowrap; /* Prevent wrapping */
    }
  </style> 
</head>
<body style="left:0; position:relative; margin: auto; background-color:white; padding:5mm">
  <!--#region header -->
  <span style="display:flex; justify-content:space-between;">
    <span style="font-size:3rem; text-transform:uppercase"><strong><i class="fas fa-university"></i> {{ library }}</strong></span>
    <span>
      <span><strong>New Releases</strong></span><br>
      <span>Week Ending {{ search_end_date }}</span><br>
    </span>
  </span>
  <!--#endregion -->
  <!--#region info -->
  <div style="height:5mm"></div>
  <span style="margin-bottom:5mm;">
    <ul>
      <li>
        <span style="color:green">First time on a release sheet.</span>
      </li>
      <li>
        <span style="color:red"><strong>* Release Genre *</strong> release roughly this genre.</span>
      </li>
      <li>
        The catalog number links do nothing.
      </li>
      <li>
        <strong>Avg. column:</strong> Is the average number of tracks per side of the plate.
        If this value is above 2, I personally would not buy the release if I wanted to mix it due to quality loss.
        However, maybe it is 3 tracks per side and the tracks are very short, but this would not be standard.
      </li>
      <li>
        <strong>Bla. column:</strong> <span style="color:green"><i class="fas fa-check fa-xs"></i></span>
        To the best of my knowledge, the release is pressed on black vinyl.
        <span style="color:red"><i class="fa fa-exclamation fa-xs"></i></span>
        To the best of my knowledge, the release is pressed on coloured vinyl.
        You may already know my stance that coloured vinyl is an nessacary frill pushing up the cost of vinyl.
        However, I have added this column because coloured vinyl is extremely unpractical for mixing and some people, myself included, may wish to avoid purchasing coloured vinyl.<br>
      </li>
      <li>
        <strong>Dist. column:</strong> The distributor.
      </li>
      <li>
        <strong>Full Stock List section:</strong> This is what I either have in stock or is on order.
      </li>
    </ul>
  </span>
  <!--#endregion -->
  <!--#region new releases this week -->
  {% if releases|length != 0 %}
  <div style="height:5mm"></div>
  <span style="font-size: 1.5rem">New Releases</span>
  {% include 'weekly_releases_table_head.html' %}
  {% for release in releases %}
  {% include 'weekly_releases_table_body.html' %}  
  {% endfor %}
  </tbody>
  </table>
  </form>
  {% endif %}
  <!--#endregion -->
  <!--#region forthcoming -->
  {% if forthcoming_releases|length != 0 %}
  <div style="height:5mm"></div>
  <span style="font-size: 1.5rem;">Forthcoming</span>
  {% include 'weekly_releases_table_head.html' %}
  {% for release in forthcoming_releases %}
  {% include 'weekly_releases_table_body.html' %}  
  {% endfor %}
  </tbody>
  </table>
  </form>
  {% endif %}
  <!--#endregion -->
  <!--#region back_catalog -->
  {% if back_catalog|length != 0 %}
  <div style="height:5mm"></div>
  <span style="font-size: 1.5rem;">Back Catalog</span>
  {% include 'weekly_releases_table_head.html' %}
  {% for release in back_catalog %}
  {% include 'weekly_releases_table_body.html' %}  
  {% endfor %}
  </tbody>
  </table>
  </form>
  {% endif %}
  <!--#endregion --> 
  <!--#region full_stock_list -->
  {% if full_stock_list|length != 0 %}
  <div style="height:10mm"></div>
  <span style="font-size: 1.5rem">Full Stock List</span><br>
  This is everything {{ library }} either has in stock or is on order.
  I have not updated all the columns for these entries yet.
  {% include 'weekly_releases_table_head.html' %}
  {% for release in full_stock_list %}
  {% include 'weekly_releases_table_body.html' %}  
  {% endfor %}
  </tbody>
  </table>
  </form>
  {% endif %}
  <!--#endregion -->   
<!--#region #####################################   JavaScript -->
<!--#region placeOrder -->
<script>
  function placeOrder(buttonId, event) {
    // Prevent the default form submission behavior
    event.preventDefault();

    // Get the form element using the button id
    var form = document.getElementById('orderForm_' + buttonId.substring(buttonId.lastIndexOf('_') + 1));

    // Log the form element to see if it's correctly retrieved
    console.log('Form:', form);

    // Check if the form exists
    if (form) {
      // Create a new FormData object to collect form data
      var formData = new FormData(form);

      // Log the formData object to see if it's correctly created
      console.log('FormData:', formData);

      // Make a fetch request to submit the form data
      fetch(form.action, {
        method: form.method,
        body: formData
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.text(); // Return response as text
      })
      .then(data => {
        // Log the response data to see if it's correctly received
        console.log('Response Text:', data);

        // Attempt to parse response text as JSON
        try {
          var jsonData = JSON.parse(data);
          console.log('JSON Data:', jsonData);

          // Check if JSON data contains the expected message
          if (jsonData && jsonData.message === "Order placed successfully") {
            alert("Order placed successfully!");

            // Reset the input field to blank after successful order placement
            var quantityInput = form.querySelector('.quantity_to_order');
            quantityInput.value = '';

            // Optionally, you can add more code here to reset other elements 
            // in the row to their initial state if needed.
          } else {
            alert("Failed to place order. Please try again.");
          }
        } catch (error) {
          // Log any errors to the console for debugging
          console.error('Error:', error);
          alert("An error occurred while processing your request. Please try again later.");
        }
      })
      .catch(error => {
        alert("An error occurred while processing your request. Please try again later.");

        // Log any errors to the console for debugging
        console.error('Error:', error);
      });
    } else {
      console.error('Form with ID ' + buttonId + ' not found');
    }
  }
</script>
<!--#endregion -->
<!--#region scroll_position -->
<input type="hidden" value="{{ scroll_position }}" id="page_vertical_location">
<script>
  window.onload = function() {
    // Get the scroll position and set the value of the hidden input field
    window.addEventListener("scroll", function() {
      let scrollPosition = window.scrollY;
      scrollPosition = Math.round(Number(scrollPosition));
      const scrollPositionInputs = document.querySelectorAll('.scroll_position_input');
      scrollPositionInputs.forEach(input => {
        input.value = scrollPosition;
      });
    });
    
    // Auto-scroll to the specified height on page load
    let height = document.getElementById('page_vertical_location').value;
    window.scrollTo(0, height);
  }
</script>
<!--#endregion -->
<!--#endregion -->
</body>
</html>
