<!--#region blocks -->
{% extends 'library_base.html' %}

{% block title %}PLATE SORTER {% if crate_id != 'None' %}{{ crate_id }}{% endif %}{% endblock %} 

{% block nav-title %}<span style="color:green">{{ member.membership_number }}</span> PLATE SORTER {% if crate_id != 'None' %}: {{ crate_id }}{% endif %}{% endblock %}

{% block content %}

<style>
  form{
    margin:0px; padding:0px; display:inline;
   }
</style>
<!--#endregion -->
<!--
crate_parent_id = {{ crate_parent_id }} <br>
crate_parent = {{ crate_parent }} <br>
crate_id = {{ crate_id }} <br><br>
display_unallocated = {{ display_unallocated }} <br>
display_stock = {{ display_stock }} <br>
display_searched_releases = {{ display_searched_releases }} <br>
member_id = {{ member.id }} <br>
search_catalog = {{ search_catalog }}<br>
stock_item_vinyl_plates_length =  {{ stock_item_vinyl_plates_length }}
-->
{% block internal_header %}{% include 'member_header.html' %}{% endblock %}
<!--#region bpm set -->
<input id="master_bpm">
<!--#endregion -->
<!--#region###############################################         CRATE VIEW         ###############################################-->
{% if display_searched_releases != 'display_searched_releases_plates' %}
{% if crate_parents|length >= 1 %}
{% if crate_parent_id != '' %}
<div style="padding-top:10px; display:flex; justify-content:space-between;align-items:center">
  <span style="font-size:2.5rem; font-weight:600;">Crate View</span>
  <div>
    {% if display_unallocated == 'display_unallocated_plates' %}
    <!--#region Hide Other {{ crate_id }} From Your Collection -->
    <form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
      {% csrf_token %}
      <input name="crate_id"                              value="{{ crate_id }}"                                          type="hidden">
      <input name="crate_parent_id"                       value="{{ crate_parent_id }}"                                   type="hidden">
      <input name="display_stock"                         value="{{ display_stock }}"                                     type="hidden">
      <input name="display_unallocated"                   value="do_not_display_unallocated_plates"                       type="hidden">
      <input name="member_id"                             value="{{ member.id }}"                                         type="hidden">
      <input name="previous_url"                          value="{{ previous_url }}"                                      type="hidden">
      <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"                        type="hidden"         class="page_vertical_location">
      <input name="submit"                                value="Hide Other {{ crate_id }} From Your Collection"          type="submit"         class="btn btn-sm btn-danger">
    </form>
    <!--#endregion -->
    {% else %}
    <!--#region Show Other {{ crate_id }} From Your Collection -->
    <form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
      {% csrf_token %}
      <input name="crate_id"                              value="{{ crate_id }}"                                          type="hidden">
      <input name="crate_parent_id"                       value="{{ crate_parent_id }}"                                   type="hidden">
      <input name="display_stock"                         value="{{ display_stock }}"                                     type="hidden">
      <input name="display_unallocated"                   value="display_unallocated_plates"                              type="hidden">
      <input name="member_id"                             value="{{ member.id }}"                                         type="hidden">
      <input name="previous_url"                          value="{{ previous_url }}"                                      type="hidden">
      <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"                        type="hidden"         class="page_vertical_location">         
      <input name="submit"                                value="Show Other {{ crate_id }} From Your Collection"          type="submit"         class="btn btn-sm btn-secondary">
    </form>
    <!--#endregion -->
    {% endif %}
    {% if display_stock == 'show_stock_plates' %}
    <!--#region Hide Shop Stock -->
    <form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
      {% csrf_token %}
      <input name="crate_id"                              value="{{ crate_id }}"                                          type="hidden">
      <input name="crate_parent_id"                       value="{{ crate_parent_id }}"                                   type="hidden">
      <input name="display_stock"                         value="do_not_show_stock_plates"                                type="hidden">
      <input name="display_unallocated"                   value="{{ display_unallocated }}"                               type="hidden">
      <input name="member_id"                             value="{{ member.id }}"                                         type="hidden">
      <input name="previous_url"                          value="{{ previous_url }}"                                      type="hidden">
      <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"                        type="hidden"         class="page_vertical_location">              
      <input name="submit"                                value="Hide Shop Stock"                                         type="submit"         class="btn btn-sm btn-danger" style="width:160px">
    </form>
    <!--#endregion -->
    {% else %}
    <!--#region Display Shop Stock -->
    <form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
      {% csrf_token %}
      <input name="crate_id"                              value="{{ crate_id }}"                                          type="hidden">
      <input name="crate_parent_id"                       value="{{ crate_parent_id }}"                                   type="hidden">
      <input name="display_stock"                         value="show_stock_plates"                                       type="hidden">
      <input name="display_unallocated"                   value="{{ display_unallocated }}"                               type="hidden">
      <input name="member_id"                             value="{{ member.id }}"                                         type="hidden">
      <input name="previous_url"                          value="{{ previous_url }}"                                      type="hidden">
      <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"                        type="hidden"         class="page_vertical_location">
      <input name="stock_item_id"                         value="{{ stock_item.id }}"                                     type="hidden">               
      <input name="submit"                                value="Display Shop Stock"                                      type="submit"         class="btn btn-sm btn-secondary" style="width:160px">
    </form>
    <!--#endregion -->
    {% endif %}
  </div>
</div>
<div style="border: 0.1px solid black; padding:10px; margin-top:10px; font-size:0.9rem">
{% else %}
<div style="border: 0.1px solid black; padding:10px; margin-top:30px; font-size:0.9rem">
{% endif %}
<!--#region crates -->
{% for i in crate_parents %}
<form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
  {% csrf_token %}
  <input name="crate_id"                                  value="{{ i.crate_id }}"                                        type="hidden">
  <input name="crate_parent_id"                           value="{{ i.id }}"                                              type="hidden">
  <input name="display_stock"                             value="{{ display_stock }}"                                     type="hidden">
  <input name="display_unallocated"                       value="{{ display_unallocated }}"                               type="hidden">
  <input name="member_id"                                 value="{{ member.id }}"                                         type="hidden">
  <input name="previous_url"                              value="{{ previous_url }}"                                      type="hidden">
  <input name="previous_vertical_location"                value="{{ previous_vertical_location }}"                        type="hidden"          class="page_vertical_location">
  {% if crate_parent_id != '' %}
  <input name="submit"                                    value="{{ i.crate_id }}"                                        type="submit"          class="btn btn-sm {% if i.crate_id == crate_id and crate_parent_id != '' %} btn-success {% else %}{% endif %}" style="font-size:1.2rem">
  {% else %}
  <input name="submit"                                    value="{{ i.crate_id }}"                                        type="submit"          class="btn btn-sm {% if i.crate_id == crate_id and crate_parent_id != '' %} btn-success {% else %}{% endif %}">
  {% endif %}
</form>
{% endfor %}
<!--#endregion -->
{% if crate_parent_id != '' %}
<!--#region exit crate view -->
<form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
  {% csrf_token %}
  {% if display_unallocated == 'display_unallocated_plates' %}
  <input name="crate_id"                                  value="{{ crate_id }}"                                          type="hidden">
  <input name="display_unallocated"                       value="display_unallocated_plates"                                type="hidden">
  {% else %}
  <input name="crate_id"                                  value="None"                                                      type="hidden">
  <input name="display_unallocated"                       value="do_not_display_unallocated_plates"                         type="hidden">
  {% endif %}
  <input name="crate_parent_id"                           value=""                                                          type="hidden">
  <input name="display_stock"                             value="do_not_show_stock_plates"                                  type="hidden">
  <input name="member_id"                                 value="{{ member.id }}"                                           type="hidden">
  <input name="previous_url"                              value="{{ previous_url }}"                                        type="hidden">
  <input name="previous_vertical_location"                value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
  <input name="submit"                                    value="Exit Crate View"                                           type="submit"                                                      class="btn btn-sm btn-danger">
</form>
<!--#endregion -->
{% endif %}
</div>
{% endif %}
{% endif %}
<!--#endregion -->
<!--#region###############################################         PLATE VIEW         ###############################################-->
{% if crate_parent_id == '' %}
{% if display_searched_releases != 'display_searched_releases_plates' %}
<!--#region your plates header -->
<div style="display:flex; margin-top:10px; justify-content:space-between;align-items:center">
  <div style="font-size:2.5rem; font-weight:600">Your Plates by Crate ID</div>
  <span>
  {% if crate_id != 'None' %}
  {% if display_stock == 'show_stock_plates' and stock_item_vinyl_plates_length >= 1 %}
  <!-- Hide Shop Stock -->
  <form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
    {% csrf_token %}
    <input name="crate_id"                                value="{{ crate_id }}"                                            type="hidden">
    <input name="crate_parent_id"                         value=""                                                          type="hidden">
    <input name="display_stock"                           value="do_not_show_stock_plates"                                  type="hidden">
    <input name="display_unallocated"                     value="{{ display_unallocated }}"                                 type="hidden">
    <input name="member_id"                               value="{{ member.id }}"                                           type="hidden">
    <input name="previous_url"                            value="{{ previous_url }}"                                        type="hidden">
    <input name="previous_vertical_location"              value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
    <input name="submit"                                  value="Hide Shop Stock [{{ stock_item_vinyl_plates_length }} Plates]"                                           type="submit"           class="btn btn-sm btn-danger" style="padding-right:10px; padding-left:10px">
  </form>
  {% elif stock_item_vinyl_plates_length >= 1 %}
  <!-- Display Shop Stock -->
  <form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
    {% csrf_token %}
    <input name="crate_id"                                value="{{ crate_id }}"                                            type="hidden">
    <input name="crate_parent_id"                         value=""                                                          type="hidden">
    <input name="display_stock"                           value="show_stock_plates"                                         type="hidden">
    <input name="display_unallocated"                     value="{{ display_unallocated }}"                                 type="hidden">
    <input name="member_id"                               value="{{ member.id }}"                                           type="hidden">
    <input name="previous_url"                            value="{{ previous_url }}"                                        type="hidden">
    <input name="previous_vertical_location"              value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
    <input name="submit"                                  value="Display Shop Stock [{{ stock_item_vinyl_plates_length }}]"                                        type="submit"           class="btn btn-sm btn-secondary" style="padding-right:10px; padding-left:10px">
  </form>
  {% endif %}
  {% endif %}
  <!-- Display External Release Search -->
  <form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
    {% csrf_token %}
    <input name="crate_id"                                value="{{ crate_id }}"                                            type="hidden">
    <input name="crate_parent_id"                         value=""                                                          type="hidden">
    <input name="display_searched_releases"               value='display_searched_releases_plates'                          type="hidden">
    <input name="display_stock"                           value="do_not_show_stock_plates"                                  type="hidden">
    <input name="display_unallocated"                     value="do_not_display_unallocated_plates"                         type="hidden">
    <input name="member_id"                               value="{{ member.id }}"                                           type="hidden">
    <input name="previous_url"                            value="{{ previous_url }}"                                        type="hidden">
    <input name="previous_vertical_location"              value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
    <input name="submit"                                  value="Search for External Release"                               type="submit"           class="btn btn-sm btn-secondary" style="padding-left:10px; padding-right:10px">
  </form>
</span>
</div>
<!--#endregion -->

<!--#region plates by crate_id -->
<div style="border: 0.1px solid black; padding:10px; margin-top:20px; font-size:0.9rem">
{% for i, plate_count in member_plates_by_crate_id %}
{% if i == crate_id and display_allocated == display_unallocated_plates %}
<!--#region stop showing crate_id plates -->
<form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input name="crate_id"                              value="None"                                  type="hidden">
  <input name="crate_parent_id"                       value=""                                      type="hidden">
  <input name="display_stock"                         value="{{ display_stock }}"                   type="hidden">
  <input name="display_unallocated"                   value="display_unallocated_plates"            type="hidden">
  <input name="member_id"                             value="{{ member.id }}"                       type="hidden">
  <input name="previous_url"                          value="{{ previous_url }}"                    type="hidden">
  <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"      type="hidden"     class="page_vertical_location">
  <button name="submit"                                                                             type="submit"     class="btn btn-sm" >
    <span style=" color:green; display:flex; align-items:center">
      <span style="font-size:2rem; padding-right:10px">{{ i }}</span>
      <span style="font-size:1.2rem">{{ plate_count }} Plate{% if plate_count >= 2 %}s{% endif %}</span>
    </span>
  </button>
  
</form>
<!--#endregion -->
{% elif i == crate_id and display_allocated == do_not_display_unallocated_plates %}
<!--#region show crate_id plates -->
<form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input name="crate_id"                              value="{{ i }}"                               type="hidden">
  <input name="crate_parent_id"                       value=""                                      type="hidden">
  <input name="display_stock"                         value="{{ display_stock }}"                   type="hidden">
  <input name="display_unallocated"                   value="display_unallocated_plates"            type="hidden">
  <input name="member_id"                             value="{{ member.id }}"                       type="hidden">
  <input name="previous_url"                          value="{{ previous_url }}"                    type="hidden">
  <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"      type="hidden"     class="page_vertical_location">             
  {% if i == 'Show All My Plates' %}
  <input type="submit"                                value="{{ i }} [{{ plate_count }}]"                 class="btn btn-sm">
  {% else %}
  <input type="submit"                                value="{{ i }} [{{ plate_count }}]"                 class="btn btn-sm">
  {% endif %}
</form>
<!--#endregion -->
{% else %}
<!--#region show different crate_id plates-->
<form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input name="crate_id"                              value="{{ i }}"                               type="hidden">
  <input name="crate_parent_id"                       value=""                                      type="hidden">
  <input name="display_stock"                         value="{{ display_stock }}"                   type="hidden">
  <input name="display_unallocated"                   value="display_unallocated_plates"            type="hidden">
  <input name="member_id"                             value="{{ member.id }}"                       type="hidden">
  <input name="previous_url"                          value="{{ previous_url }}"                    type="hidden">
  <input name="previous_vertical_location"            value="{{ previous_vertical_location }}"      type="hidden"     class="page_vertical_location">
  {% if plate_count >= 300 %}
  <button name="submit"                                                                             type="submit"     class="btn btn-sm" onclick="return confirm('Just a heads up, this will show you {{ plate_count }} plates. Expect this may take some time to load.')">
  {% else %}
  <button name="submit"                                                                             type="submit"     class="btn btn-sm" >
  {% endif %}    
    <span style="display:flex; align-items:center">
      <span style="padding-right:5px; font-size:1rem">{{ i }}</span>
      <span style="font-size:0.8rem">[{{ plate_count }}]</span>
    </span>
  </button>
</form>
<!--#endregion -->
{% endif %}
{% endfor %}

</div>
{% endif %}
{% endif %}
<!--#endregion -->
<!--#endregion -->
<!--#region###############################################         SEARCH VIEW        ###############################################-->
{% if display_searched_releases == 'display_searched_releases_plates' %}
<div style="display:flex; margin-top:10px; justify-content:space-between;align-items:center">
<div style="font-size:2.5rem; font-weight:600; margin-top:10px; ">External Release Search</div>
<!--#region do_not_display_searched_releases_plates -->
<form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
  {% csrf_token %}
  <input name="crate_id"                                value="None"                                                      type="hidden">
  <input name="crate_parent_id"                         value=""                                                          type="hidden">
  <input name="display_searched_releases"               value='do_not_display_searched_releases_plates'                   type="hidden">
  <input name="display_stock"                           value="do_not_show_stock_plates"                                  type="hidden">
  <input name="display_unallocated"                     value="do_not_display_unallocated_plates"                         type="hidden">
  <input name="member_id"                               value="{{ member.id }}"                                           type="hidden">
  <input name="previous_url"                            value="{{ previous_url }}"                                        type="hidden">
  <input name="previous_vertical_location"              value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
  <input name="submit"                                  value="Exit External Release Search"                              type="submit"           class="btn btn-sm btn-danger" style="padding-left:10px; padding-right:10px" >

</form>
<!--#endregion -->
</div>
<!--#region search -->
<div style="display:flex; justify-content:space-between; margin-top:20px; font-size:0.9rem; width:100%; align-items:middle">
  <form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="width:100%; vertical-align:center">
    {% csrf_token %}
    <input name="crate_id"                                value="None"                                                      type="hidden">
    <input name="crate_parent_id"                         value=""                                                          type="hidden">
    <input name="display_searched_releases"               value='display_searched_releases_plates'                          type="hidden">
    <input name="display_stock"                           value="do_not_show_stock_plates"                                  type="hidden">
    <input name="display_unallocated"                     value="do_not_display_unallocated_plates"                         type="hidden">
    <input name="member_id"                               value="{{ member.id }}"                                           type="hidden">
    <input name="previous_url"                            value="{{ previous_url }}"                                        type="hidden">
    <input name="previous_vertical_location"              value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
    <!--#region search_artist -->
    {% if search_artist and search_artist != 'None' %}
    <input name="search_artist"                           value="{{ search_artist }}"                                       type="text"             id="search_artist"  style="border:3px solid green; width:24%">
    {% else %}
    <input name="search_artist"                           placeholder="Artist..."                                           type="text"             id="search_artist"  style="width:24%">
    {% endif %}
    <!--#endregion -->
    <!--#region search_title -->
    {% if search_title  and search_title != 'None' %}
    <input name="search_title"                            value="{{ search_title }}"                                        type="text"             id="search_title"   style="border:3px solid green; width:24%">
    {% else %}
    <input name="search_title"                            placeholder="Title..."                                            type="text"             id="search_title"   style="width:24%">
    {% endif %}
    <!--#endregion -->
    <!--#region search_label -->
    {% if search_label  and search_label != 'None' %}
    <input name="search_label"                            value="{{ search_label }}"                                        type="text"             id="search_label"   style="border:3px solid green; width:24%">
    {% else %}
    <input name="search_label"                            placeholder="Label..."                                            type="text"             id="search_label"   style="width:24%">
    {% endif %}
    <!--#endregion -->
    <!--#region search_catalog -->
    {% if search_catalog and search_artist != 'None' %}
    <input name="search_catalog"                          value="{{ search_catalog }}"                                      type="text"             id="search_catalog" style="border:3px solid green; width:24%">
    {% else %}
    <input name="search_catalog"                          placeholder="Catalog..."                                          type="text"             id="search_catalog" style="width:24%">
    {% endif %}
    <!--#endregion -->
    
    {% if has_been_triggered and has_been_triggered != 'has_been_triggered' %}
    <input name="has_been_triggered"                      value="has_been_triggered"                                        type="hidden"> 
    <button name="submit"                                 id="auto_clicked_member_adds_stock_item_button"                   type="submit"           class="btn btn-secondary btn-sm"     style="height:30px; font-size:0.9rem;"><i class="fas fa-search"></i></button>
    {% else %}
    <button name="submit"                                 id="auto_clicked_member_adds_stock_item_button"                   type="submit"           class="btn btn-secondary btn-sm"     style="height:30px; font-size:0.9rem;"><i class="fas fa-search"></i></button>
    {% endif %}
  </form>

  <form action="{% url 'plate_sorter' library.id %}" method="post"  enctype="multipart/form-data" style="margin:0px; padding:0px; display:inline;">
    {% csrf_token %}
    <input name="crate_id"                                value="None"                                                      type="hidden">
    <input name="crate_parent_id"                         value=""                                                          type="hidden">
    <input name="display_searched_releases"               value='display_searched_releases_plates'                          type="hidden">
    <input name="display_stock"                           value="do_not_show_stock_plates"                                  type="hidden">
    <input name="display_unallocated"                     value="do_not_display_unallocated_plates"                         type="hidden">
    <input name="member_id"                               value="{{ member.id }}"                                           type="hidden">
    <input name="previous_url"                            value="{{ previous_url }}"                                        type="hidden">
    <input name="previous_vertical_location"              value="{{ previous_vertical_location }}"                          type="hidden"           class="page_vertical_location">
    <input name="submit"                                  value="Reset Search"                                              type="submit"           class="btn btn-sm btn-secondary" style="padding-left:10px; padding-right:10px" >
  </form>
</div>
{% endif %}

<!--#endregion -->
<!--#endregion -->
<!--#region###############################################         PLATES             ###############################################-->
{% for vinyl_plate_identifier, member_plate, plate, stock_item, release_title_long, vinyl_tracks_crate_ids in all_plates %}
<div style="border: 1px solid black; margin:30px 0px; padding:10px; font-size:0.9rem">
  <!--#region plate header -->
  <span style="display:flex; justify-content:space-between; align-items:center; background-color:white; padding-left:10px;padding-right:10px">
    <!--#region plate artwork and link --> <!--###-->
    <span style="display:flex; align-items:center">
      <!--#region artwork -->
      {% if plate.related_release.artwork_small %}
      <span>
        <img src="{{ plate.related_release.artwork_small.url }}" width="30" height="30">
      </span>
      {% else %}
      <span style="text-align:center; font-size: 0.5rem;">
        No image
      </span>
      {% endif %}
      <!--#endregion -->
      {% include 'vinyl_release_form.html' %}
    </span>
    <!--#endregion -->
    {% if plate.related_release.distributor.active == True and plate.related_release.stock_estimation >= 1 and stock_item == None and member_plate == None %}
    <!--#region create stock item -->
    <div style="display:inline-block">
      {% include 'member_release_create_form.html' %}
      <!--#region         Stock Item Create & Add to Cart               -->
      {% include 'stock_item_create_and_add_to_cart_form.html' %}
      <!--#endregion -->
    </div>
    <!--endregion -->
    {% elif member_plate.member_release.status == in_coming %}
    <!--#region release incoming -->
    <div style="display:inline-block">
      <span style="font-size:1.6rem; margin-right:10px; color:gray">Release Incoming</span>
      {% if member_plate.member_release.order_request_item.stockpiled == True %}
      <span>In Stockpile</span>
      {% elif member_plate.member_release.order_request_item.ordered == True %}
      <span>Ordered</span>
      {% else %}
      <span>Processing Order</span>
      {% endif %}
    </div>
    <!--#endregion -->
    {% elif member_plate != None %}
    <!--#region           MEMBER PLATE                                  -->
    <span style="display:block">
      <!--#region plate location -->
      {% if member_plate.crate_parent != None %}
      <span style="display:flex; align-items:baseline">
        <!--#region location -->
        <span style="margin-right:5px">Location:</span>
        <span style="display:flex; align-items:center; justify-content:space-between">
          <!--#region crate parent crate_id -->
          {% if member_plate.crate_parent.crate_id == crate_id %}
          <span style="font-size:1.5rem;color:green">{{ member_plate.crate_parent.crate_id }}</span>
          {% else %}
          <span style="font-size:1.5rem;">
          <form action="{% url 'plate_sorter' library.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="crate_id"                                  value="{{ member_plate.crate_parent.crate_id }}"                type="hidden">
            <input name="crate_parent_id"                           value="{{ member_plate.crate_parent.id }}"                      type="hidden">
            <input name="display_stock"                             value="{{ display_stock }}"                                     type="hidden">
            <input name="display_unallocated"                       value="do_not_display_unallocated"                               type="hidden">
            <input name="member_id"                                 value="{{ member.id }}"                                         type="hidden">
            <input name="previous_url"                              value="{{ previous_url }}"                                      type="hidden">
            <input name="previous_vertical_location"                value="0"                                                       type="hidden">
            <button name="submit"                                                                                                   type="submit"          style="border:none; background: none"><span style="font-size:1.5rem">{{ member_plate.crate_parent.crate_id }}</span></button>
          </form>
          </span>
          {% endif %}
          <!--#endregion -->
          <!--#region crate_parent_desired_option -->
          {% if member_plate.crate_parent_desired_option == True and member_plate.desired_crate_parent_option_crate_parent == member_plate.crate_parent %}
          {% if member_plate.crate_parent.crate_id == crate_id %}
          <span style="margin-left:5px; color:green"><i class="fas fa-check"></i></span>
          {% else %}
          <span style="margin-left:5px"><i class="fas fa-check"></i></span>
          {% endif %}
          {% else %}
          {% include 'member_plate_crate_parent_set.html' %}
          {% endif %}
          <!--#endregion -->
        </span>
        <!--#endregion -->
      </span>
      {% endif %}
      <!--#endregion -->
      {% include 'move_plate_form.html' %}
    </span>
    <!--#endregion MEMBER PLATE-->
    {% elif stock_item in items %}
    <!--#region           Release In Cart -> Go To Shopping Cart        -->
    <span>
    <span>
    {% include 'go_to_shopping_cart_form.html' %}
    </span>
    <!--#endregion -->
    {% include 'remove_vinyl_release_from_shopping_cart_form.html' %}
    </span>
    {% else %}
    <span style="display:flex;">
      {% include 'member_release_create_form.html' %}
      {% if stock_item and member_plate == None %}
      <span style="margin-left:5px">
      {% include 'add_release_to_cart_form.html' %}
      </span>
      {% endif %}
    </span>
    {% endif %}
  </span>
  <!--#endregion -->
  <!--#region tracks -->
  <table class="table table-borderless table-sm" style="margin-top:10px; background-color:white">
    <thead>
      <tr style="background-color: white">
      <th class="text-center" style="width:60px"></th>
      <th style="width:300px">Artist</th>
      <th style="width:300px">Title</th>
      <th style="width:200px">Genre</th>
      <th style="width:150px">Vibe</th>
      <th class="text-center" style="width:100px">Energy</th>
      <th style="width:200px"></th>
      <th></th>
      </tr>
    </thead>
    {% for track in plate.related_vinyl_track.all %}
    <tbody>
      {% if track.crate_id == crate_id %}
      <tr style="color:green;">
      {% else %}
      <tr>
      {% endif %}
        <td class="text-center" style="width:60px">{{track.index}}.</td>
        <td>{{track.artist}}</td>
        <td>{{track.title}}</td>
        <!--#region genre / vibe / energy_level -->
        {% if track.genre != '-' and track.vibe != '-' and track.energy_level != '-' %}
        <!--#region track has this crate_id -->
        <td>{{track.genre}}</td>
        <td>{{track.vibe}}</td>
        <td class="text-center">{{track.energy_level}}</td>
        <!--#endregion -->
        {% else %}
        <!--#region crate_id not complete -->
        <td style="color:red">{{track.genre}}</td>
        <td style="color:red">{{track.vibe}}</td>
        <td style="color:red" class="text-center">{{track.energy_level}}</td>
        <!--#endregion -->
        {% endif %}
        <!--#endregion -->
        {% if track.audio %}
        <!--#region listen -->
        <td>
          <audio controls controlsList="noplaybackrate nodownload" style="width:200px; height:25px; background-color:whitesmoke" preload="none">
            <source src="{{ track.audio.url }}" type="audio/mp3" class='audios'>
          </audio>
        </td>
        {% else %}
        <td class="text-center">
          No Audio
        </td>
        {% endif %}
        <td>
          <span class="track_bpm">{{ track.bpm }}</span>
        </td>
        <td>
          <span class="percentage_difference"></span>
        </td>
        <!--#endregion -->
        
      </tr>
    </tbody>   
    {% endfor %}
  </table>
  <!--#endregion -->
</div>
{% endfor %}
<!--#endregion -->
<!--#region###############################################         JAVA               ###############################################-->
<!--#region  bpm_percentage_difference -->
<script>
  // Wait for the DOM content to be fully loaded
  document.addEventListener("DOMContentLoaded", function() {
    // Get the master BPM input field
    var masterBpmInput = document.getElementById("master_bpm");
    // Get all elements with the class 'track_bpm'
    var trackBpmSpans = document.getElementsByClassName("track_bpm");

    // Listen for changes in the master BPM input field
    masterBpmInput.addEventListener("input", function() {
      // Convert master BPM to a number
      var masterBpm = parseInt(masterBpmInput.value);

      // Loop through each track BPM span
      for (var i = 0; i < trackBpmSpans.length; i++) {
        // Get the BPM value for the current track
        var trackBpm = parseInt(trackBpmSpans[i].innerText);

        // Calculate the percentage difference
        var percentageDifference = 0;
        if (trackBpm > masterBpm) {
          percentageDifference = ((trackBpm - masterBpm) / masterBpm) * 100;
        } else {
          percentageDifference = ((masterBpm - trackBpm) / trackBpm) * 100;
        }

        // Get the span element for percentage difference
        var percentageSpan = trackBpmSpans[i].parentNode.nextElementSibling.querySelector(".percentage_difference");

        // Update the value of the span with the calculated percentage difference
        percentageSpan.textContent = percentageDifference.toFixed(2) + "%";

        // Add a minus sign if the percentage difference is negative
        if (trackBpm > masterBpm) {
          percentageSpan.textContent = "-" + Math.abs(percentageDifference).toFixed(2) + "%";
        } else {
          percentageSpan.textContent = "+" + percentageSpan.textContent;
        }
      }
    });
  });
</script>
<!--#endregion -->
<!--#region play one audio track at once -->
<script>
  var previousAudio;
  document.addEventListener('play', function (e) {
    if (previousAudio && previousAudio != e.target) {
      previousAudio.pause();
    }
    previousAudio = e.target;
  }, true);
</script>
<!--#endregion -->
<!--#region auto-scroll-window -->
<input type="hidden" id="page_vertical_location" value="{{ previous_vertical_location }}">
<button onclick="scrollWin()" id="auto_clicked_button" class="btn btn-sm"></button>
<script>
function scrollWin() {
  let height = document.getElementById('page_vertical_location').value;
  window.scrollTo(0, height);
}
</script>
<script>
  document.getElementById('auto_clicked_button').click();
</script>
<!--#endregion -->
<!--#region get and assign current scroll height -->
<script>
  window.onload = function findPageHeight() {
    window.addEventListener("scroll", (event) => {
      let scroll = this.scrollY;
      const page_vertical_location_elements = document.querySelectorAll('.page_vertical_location');
      page_vertical_location_elements.forEach(plate => {
        plate.value = scroll
      });
    });
  }
</script>

<!--#endregion -->
<!--#region search_catalog = search_catalog etc.-->

<script>
  window.addEventListener("load", myInit, true); function myInit(){
    let search_artist_from_form_header = document.getElementById('search_artist').value;
    const search_artists = document.querySelectorAll('.search_artist');
    search_artists.forEach(searchArtist => {
      searchArtist.value = search_artist_from_form_header
    })
    let search_title_from_form_header = document.getElementById('search_title').value;
    const search_titles = document.querySelectorAll('.search_title');
    search_titles.forEach(searchTitle => {
      searchTitle.value = search_title_from_form_header
    })
    let search_label_from_form_header = document.getElementById('search_label').value;
    const search_labels = document.querySelectorAll('.search_label');
    search_labels.forEach(searchLabel => {
      searchLabel.value = search_label_from_form_header
    });

    let search_catalog_from_form_header = document.getElementById('search_catalog').value;
    const search_catalogs = document.querySelectorAll('.search_catalog');
    search_catalogs.forEach(searchCatalog => {
      searchCatalog.value = search_catalog_from_form_header
    });
    window.addEventListener("scroll", (event) => {
      let scroll = this.scrollY;
      const page_vertical_location_elements = document.querySelectorAll('.page_vertical_location');
      page_vertical_location_elements.forEach(plate => {
        plate.value = scroll
      });
    });
  }
</script>

<!--#endregion -->
<!--#region if search_catalog and search_catalog != 'None' and has_been_triggered != 'has_been_triggered' -->
{% if has_been_triggered and has_been_triggered != 'has_been_triggered' %}
<script>
  document.getElementById('auto_clicked_member_adds_stock_item_button').click();
</script>
{% endif %}
<!--#endregion -->
<!--#endregion -->

{% endblock %}