{% extends 'library_base.html' %}

{% block title %}Return to Release Database{% endblock %}

{% block nav-title %}RETURN TO Release Database{% endblock %}

{% block content %}


<span style="display:flex; justify-content:center; padding-top:250px">
  <a href="{% url 'release_database' library.id user.member.id %}" id="auto_clicked_button" style="width:400px" class="btn btn-secondary btn-sm">Go to Artist Naming Conventions</a>
</span>

<script>
  document.getElementById('auto_clicked_button').click();
</script>

{% endblock %}