{% extends 'library_base.html' %}

{% block title %}Issue Crate{% endblock %}

{% block nav-title %}Issue Crate{% endblock %}

{% block content %}
<!-- header -->
<div style="padding-top:30px; display:flex; justify-content:space-between; align-items:center">
  <span>
  </span>
  <span>
    <button class="btn btn-secondary btn-sm" onclick="history.back()" style="width:200px">Cancel Issue</button>
  </span>
</div>

<div style="padding-top: 150px; display:flex; justify-content:center">
  <form action="{% url 'issue_crate_submission' library.id sub_crate.id %}" method="post" style="width:400px">
    {% csrf_token %}
    <span>
      <a href="{% url 'sub_crate' library.id sub_crate.master_library_crate.id sub_crate.id user.member.id %}" class="btn btn-secondary btn-sm" target="_blank"><strong style="font-size: 2rem;">{{ sub_crate.plate_count }}</strong><span>&nbsp;&nbsp;&nbsp;Plates</span></a>
    </span>
    <!--member_id-->
    <div class="form-group col-md-12" style="margin-top:30px">
      <select id="member_id" name="member_id" class="form-control" required>
        <option selected>Select Member...</option>
        {% for member in members %}
        <option value="{{ member.id }}">{{ member }}</option>
        {% endfor %}
      </select>
    </div>

    <!--submit-->
    <div class="form-group col-md-12" style="display:flex; justify-content:center; padding-top:20px">
      <input type="submit" value="Issue Crate" class="btn btn-secondary btn-sm form-control" style="width:400px"> 
    </div>
  </form>
</div>

{% endblock %}