{% extends 'library_base.html' %} {% block title %}Delete {{ crate }} {% endblock %}

{% block nav-title %}{{ crate }}{% endblock %}

{% block content %}

<!-- header -->
<div style="padding-top:40px; display:flex; justify-content:space-between">
  <span>
  </span>
  <span>
    <button onclick="history.back()" class="btn btn-secondary btn-sm" style="width:200px">Cancel Delete</button>
  </span>
</div>

<div style="display:flex; justify-content:center; padding-top:200px">
  <a href="{% url 'library_crate_delete_submission' library.id crate.id %}" class="btn btn-danger btn-sm" style="width:300px;">Delete {{ crate }}</a>
</div>

{% endblock %}