{% extends 'library_base.html' %}

{% block title %}Trade {{ library_plate.related_vinyl_plate }}{% endblock %}

{% block nav-title %}TRADE {{ library_plate.related_vinyl_plate }}{% endblock %}

{% block content %}

<!-- header -->
<div style="padding-top:30px; display:flex; justify-content:space-between">
  <span>
  </span>
  <span>
    <button onclick="history.back()" class="btn btn-secondary btn-sm" style="width:200px">Cancel Move</button>
  </span>
</div>

<div style="display:flex; justify-content:center; margin-top:100px">
  <form action="{% url 'trade_plate_move_submission' library.id sub_crate.id library_plate.id %}" method="post" enctype="multipart/form-data" style="width:400px">
    {% csrf_token %}
    <!-- related_library_crate -->
    <div class="form-group col-md-12">
      <label for="related_library_crate" class="form-label">Destination</label>
      <select id="related_library_crate" class="form-control" name="related_library_crate" >
        {% for crate in trade_crates %}
          <option value="{{ crate.id }}">{{ crate.library }}</option>
        {% endfor %}
      </select>
    </div>
    <br>
    <!--submit-->
    <div class="form-group col-md-12" style="display:flex; justify-content:center">
      <input type="submit" value="Trade {{ library_plate.related_vinyl_plate }}" class="btn btn-secondary btn-sm" style="width:400px"> 
    </div>
  </form>
</div>

{% endblock %}