{% extends 'library_base.html' %}

{% block title %}Return to Weekly Release Sheets{% endblock %}

{% block nav-title %}Return to Weekly Release Sheets{% endblock %}

{% block content %}

<span style="display:flex; justify-content:center; padding-top:250px">
  <a href="{% url 'weekly_release_sheets' library.id %}" id="auto_clicked_button" style="width:400px" class="btn btn-default btn-sm">Continue</a>
</span>

<script>
  document.getElementById('auto_clicked_button').click();
</script>

{% endblock %}