{% extends 'library_base.html' %}

{% block title %}{{release.release_title}}{% endblock %}

{% block nav-title %}{{ release.catalog_number }}{% endblock %}

{% block content %}

<div style="margin-top: 30px; display:flex; justify-content:space-around; align-items: center;">
  <div style="width:200px;">
    {% if release.artwork %}
    <h1><img src="{{ release.artwork.url }}" width="200px" height="200px"></h1>
    {% else %}
    <div>
      <h5 style="text-align:center">No image</h5>
    </div>
    {% endif %}
  </div>

  <div>
    <table id="rel-top">
      <tbody>
        <!--#region artist / title -->
        <tr>
          <td><strong>Artist / Title</strong></td>
          <td>{{ release.artist }} - {{release.release_title}}</td>
        </tr>
        <!--#endregion -->
        <!--#region catalog number-->
        <tr>
          <td>
            <strong>Catalog Number</strong>
          </td>
          <td>
            {{release.catalog_number}}
          </td>
        </tr>
        <!--#endregion -->
        <!--#region label -->
        <tr>
          <td>
            <strong>Label</strong>
          </td>
          <td>
            {{release.label}}
          </td>
        </tr>
        <!--#endregion -->
        <!--#region release_date -->
        <tr>
          <td>
            <strong>Release Date</strong>
          </td>
          <td>
            <span style="padding-right:5px">{{ release.release_date|date:"d F Y" }}</span>
          </td>
          <!--#endregion -->
        <!--#region distributor -->
        {% if user == library.library_shop %}
        <tr>
          <td><strong>Distributor</strong></td>
          <td>
            {{ release.distributor }}, {{ release.cost_price }} {{ release.distributor.currency }},
            {% if release.stock_estimation < 11 and release.stock_estimation > 5 %}
              <span style="color:red;">{{ release.stock_estimation }}</span>
            {% elif release.stock_estimation < 6 %}
              <span class="blink" style="color:red;">{{ release.stock_estimation}}</span>
            {% else %}
              <span style="color:black;">{{ release.stock_estimation }}</span>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        <!--#endregion-->
      </tbody>
    </table>
  </div>

  <div>
    <table id="rel-top">
      <tbody>
        <tr>
          <!--#region return to plate sorter -->
          <span>
            <form action="{% url 'return_to_plate_sorter' library.id member_id.id crate_id crate_parent_id display_stock display_unallocated display_searched_releases %}"  method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" value="{{ previous_vertical_location }}" name="previous_vertical_location">
              <button type="submit" class="btn btn-sm btn-secondary" style="padding-left:15px; padding-right:15px">Return to Plate Sorter</button>
            </form>
          </span>
          <!--#endregion -->
        </tr>
        {% if release.plate_size %}
        <tr>
          <td><strong>Plates</strong></td>
          {% if release.plate_count == 1 %}
          <td>{{ release.plate_size }}</td>
          {% else %}
          <td>{{ release.plate_count }}x{{ release.plate_size }}</td>
          {% endif %}
        </tr>
        {% endif %}

        {% if release.sleeve_type %}
        <tr>
          <td><strong>Sleeve Type</strong></td>
          <td>{{ release.sleeve_type }}</td>
        </tr>
        {% endif %}

        {% if release.vinyl_colour %}
        <tr>
          <td><strong>Vinyl Colour</strong></td>
          <td>{{ release.vinyl_colour }}</td>
        </tr>
        {% endif %}

        {% if release.release_type %}
        <tr>
          <td><strong>Release Type</strong></td>
          <td>{{ release.release_type }}</td>
        </tr>
        {% endif %}
        {% if user.member == library.library_shop %}
        <tr>
          <td><strong>Options</strong></td>
          <td>
            <a href="{% url 'release_compile' library.id release.id %}" class="btn btn-warning btn-sm"><i
                class="far fa-edit"></i></a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<br>

<h3 style="margin-top:20px">LISTEN</h3>
<!--#region plates and tracks -->
<table class="table table-borderless">
  <thead>
    <tr>
      <th style="width:15px"></th>
      <th>Artist</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Vibe</th>
      <th style="text-align:center">Energy</th>
      <th style="width:250px" class="text-center">Audio</th>
    </tr>
  </thead>

  {% for plate in release.related_vinyl_plate.all %}
  {% for track in plate.related_vinyl_track.all %}
  <tbody>
    <tr>
      <td style="width:15px">{{track.index}}.</td>
      <td style="width: auto;">{{track.artist}}</td>
      <td>{{track.title}}</td>
      <td>{{track.genre}}</td>
      <td>{{track.vibe}}</td>
      <td style="text-align:center">{{track.energy_level}}</td>
      {% if track.audio %}
      <td>
        <audio controls controlsList="noplaybackrate nodownload"
          style="width:250px;height:32px; float:right; background-color:whitesmoke" preload="none">
          <source src="{{ track.audio.url }}" type="audio/mp3" class='audios'>
        </audio>
      </td>
      {% else %}
      <td class="text-center">
        No Audio
      </td>
      {% endif %}
    </tr>
  </tbody>
  {% endfor %}
  {% endfor %}
</table>
<!--#endregion -->

<h3 style="margin-top:30px">PURCHASE</h3>
<!--#region in stock items -->
<table class="table table-borderless">
  <thead>
    <tr>
      <th>Location</th>
      <th class="text-center">Price</th>
      <th class="text-center">Status</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    {% for item in in_stock_items %}
    <tr>
      <td>
        {{ item.library }}
      </td>
      <td class="text-center">
        ${{ item.price }} ({{ item.library.currency }})
      </td>
      <td class="text-center">
        {% if item in items %}
        <span style="color:green">In Shopping Cart</span>
        {% elif item.quantity >= 1 %}
        <span style="color:green">In Stock</span>
        {% elif item.quantity_incoming >= 1 %}
        <span style="color:green">Incoming</span>
        {% elif item.vinyl_release.stock_estimation >= 1 and item.vinyl_release.distributor.active == True %}
        Available to Order
        {% else %}
        <span style="color:red">Unavailable</span>
        {% endif %}
      </td>
      <td class="text-center">
        {% if item in items %}
        <a href="{% url 'vinyl_shop' item.library.id %}" <button class="btn btn-secondary btn-sm" style="color:gold"><i
            class="fas fa-store-alt"></i></button>
          {% elif item.quantity == 0 and item.quantity_incoming == 0 and item.vinyl_release.stock_estimation == 0 or item.quantity == 0 and item.quantity_incoming == 0 and item.vinyl_release.distributor.active == False %}
          <span></span>
          {% else %}
          <form action="{% url 'shopping_cart_add_item' library.id item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-sm"><i class="fas fa-cart-plus"></i></button>
          </form>
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<span style="margin-top:30px; display:flex; justify-content:right">
  <a href="{% url 'release_compile' library.id release.id %}" style="text-decoration: none; color:black">π</a>
</span>
<!--#endregion -->

<script>
  var previousAudio;
  document.addEventListener('play', function (e) {
    if (previousAudio && previousAudio != e.target) {
      previousAudio.pause();
    }
    previousAudio = e.target;
  }, true);
</script>

{% endblock %}