{% extends 'library_base.html' %}

{% block title %}Return to Track Categorize Next{% endblock %}

{% block nav-title %}RETURN TO TRACK CATEGORIZE NEXT{% endblock %}

{% block content %}


<span style="display:flex; justify-content:center; padding-top:250px">
  <a href="{% url 'track_categorize_next' library.id release.id index_count %}" id="auto_clicked_button" style="width:400px" class="btn btn-secondary btn-sm">Return to Track Catergorize Next</a>
</span>

<script>
  document.getElementById('auto_clicked_button').click();
</script>

{% endblock %}