{% extends 'library_base.html' %}

{% block title %}Go to add first track{% endblock %}

{% block nav-title %}GO TO ADD FIRST TRACK{% endblock %}

{% block content %}


<span style="display:flex; justify-content:center; padding-top:250px">
  <a href="{% url 'track_add' library.id release.id first_plate.id %}" id="auto_clicked_button" style="width:400px" class="btn btn-secondary btn-sm">GO TO ADD FIRST TRACK</a>
</span>

<script>
  document.getElementById('auto_clicked_button').click();
</script>

{% endblock %}