{% extends 'library_base.html' %}

{% block title %}Calculate Vinyl Pricing{% endblock %}

{% block nav-title %}Calculate Vinyl Pricing{% endblock %}

{% block content %}

<!-- header -->
<div style="display:flex; justify-content:space-between; align-items:center; padding-top:30px;">
  <!-- search -->
  <span style="display:flex; justify-content:space-between">
    <div class="row">
      <div class="column">
        <table>
          <form action="{% url 'release_database_search' library.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <tbody>
            <tr>
              <td style="width:180px; padding-right:5px">
                {% if search_track_crate_id and search_track_crate_id != 'Catergory...' %}
                  <select id="search_track_crate_id" style="width:180px; height:30px; border:3px solid green " name="search_track_crate_id">
                {% else %}
                  <select id="search_track_crate_id" style="width:180px; height:30px;" name="search_track_crate_id">
                {% endif %}
                  {% if search_track_crate_id %}
                    <option selected>{{ search_track_crate_id }}</option>
                    <option></option>
                  {% else %}
                    <option selected>Catergory...</option>
                  {% endif %}
                  {% for crate in track_crate_ids %}
                    <option value="{{ crate }}">{{ crate }}</option>
                  {% endfor %}
                </select>
              </td>
              
              <td style="width:180px; padding-right:5px">
                {% if search_artist %}
                  <input name="search_artist" value="{{ search_artist }}" style="border:3px solid green">
                {% else %}
                  <input placeholder="Artist..." name="search_artist">
                {% endif %}
              </td>

              <td style="width:180px; padding-right:5px">
                {% if search_label %}
                  <input name="search_label" value="{{ search_label }}" style="border:3px solid green">
                {% else %}
                  <input placeholder="Label..." name="search_label">
                {% endif %}
              </td>

              <td style="width:180px; padding-right:5px">
                {% if search_catalog %}
                  <input name="search_catalog" value="{{ search_catalog }}" style="border:3px solid green">
                {% else %}
                  <input placeholder="Catalog..." name="search_catalog">
                {% endif %}
              </td>

              <td style="width:180px; padding-right:5px">
                {% if search_release_year %}
                  <input name="search_release_year" value="{{ search_release_year }}" style="border:3px solid green">
                {% else %}
                  <input placeholder="Release Year..." name="search_release_year">
                {% endif %}
              </td>
              <td>
                <button type="submit" class="btn btn-secondary btn-sm" style="height:30px; margin-right:5px"><i class="fas fa-search"></i></button>
              </td>
              <td>
                <a href="{% url 'release_database' library.id user.member.id %}" class="btn btn-secondary btn-sm" style="height:30px;">Reset Search</a>
              </td>
            </tr>
          </tbody>
          </form>
        </table>
      </div>
    </div>
  </span>
  <!-- options -->
  <span>
    <a href="{% url 'release_check_catalog_number_before_adding' library.id %}" class="btn btn-warning btn-sm" target="_blank"><i class="fas fa-plus"></i> Release</a>
  </span>
</div>

<!-- releases -->
<div style="padding-top:30px">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" style="width:150px">CATALOG</th>
        <th style="width:50px">Cost</th>
        <th style="width:50px">Cost per Plate</th> 
        <th style="width:50px">Shipping</th>   
        <th style="width:50px">Markup per plate</th>
        <th style="width:50px"></th>
        <th style="width:50px">Estimate</th>
        <th style="width:50px"></th>
        <th style="width:50px">Cheaper</th>
        <th style="width:50px"></th>
        <th style="width:50px">Saving</th>
      </tr>
      <tr style="color:blue">
        <th class="text-center" style="width:150px"></th>
        <th style="width:50px"></th>
        <th style="width:50px">{{ average_release_cost_per_plate }}</th> 
        <th style="width:50px">{{ average_shipping }}</th>
        <th style="width:50px">{{ average_mark_up_per_plate }}</th>
        <th style="width:50px"></th>
        <th style="width:50px">{{ average_estimate }}</th>
        <th style="width:50px"></th>
        <th style="width:50px">{{ average_cheaper }}</th>
        <th style="width:50px"></th>
        <th style="width:50px">{{ average_saving }}</th>

        
      </tr>
    </thead>     
    {% for release in releases_availible_for_sale %}
    <tbody>
      <tr>
        <td><a href="{% url 'release' library.id release.id %}" target="_blank" style="width:150px" class="btn btn-secondary btn-sm">{{release.catalog_number}}</a></td>
        <td>{{ release.release_cost_price_plus_gst }}</td>
        <td>{{ release.release_cost_per_plate }}</td>
        <td>{{ release.shipping_plus_gst }}</td>
        <td>{{ release.profit_per_plate_with_30_mark_up }}</td>
        <td></td>
        <td>{{ release.sale_price_nz_estimate }}</td>
        <td></td>
        <td>{{ release.sale_price_cheaper}}</td>
        <td></td>
        <td>{{ release.saving }}</td>
        

           
        
        
      </tr>
    </tbody>   
    {% endfor %}
  </table>
</div>
<br>
{% endblock %}