{% extends 'base.html' %}

{% block title %}Add Sale Vinyl{% endblock %}

{% block nav-title %}Add Sale Vinyl <span style="color:green">{{ release }}</span>{% endblock %}

{% block content %}

<!-- header -->
<div style="padding-top:20px">
  <header>
    <span>
    </span>
    <span>
      <a href="{% url 'release_compile' library.id release.id %}" style="width:200px" class="btn btn-secondary btn-sm">Return to Release Compile</a>
    </span>
  </header>
</div>
<br>

<div style="display:flex; justify-content:center; padding-top:30px">
  <form action="{% url 'sale_vinyl_add_details_submission' library.id release.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" style="width:400px; ">
      <div class="column">

        <!-- supplier -->
        <div class="form-group col-md-12">
          <label for="supplier" class="form-label">Supplier</label>
          <select id="supplier" name="supplier" class="form-control" >
            <option selected>Choose...</option>
            {% for company in suppliers %}
              <option value="{{ company.id }}">{{ company.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- stock_estimation -->
        <div class="form-group col-md-12">
          <label for="stock_estimation" class="form-label">Distributors Stock Level</label>
          <input type="number" id="stock_estimation" name="stock_estimation" class="form-control" required>
        </div>

        <!-- cost_price -->
        <div class="form-group col-md-12">
          <label for="cost_price" class="form-label">Cost Price</label>
          <input type="number" step=".01" id="cost_price" name="cost_price" class="form-control" required>
        </div>
        <br>
        
        <!--submit-->
        <div class="form-group col-md-12" style="display:flex; justify-content:center">
          <input type="submit" value="Add Sale Info" class="btn btn-secondary btn-sm" style="width:400px"> 
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}