{% extends 'library_base.html' %}

{% block title %}{{ library }} Invoices{% endblock %} 

{% block nav-title %}<span style="color:green">Invoices</span>{% endblock %}

{% block content %}

<!-- header -->
<div style="display:flex; justify-content:space-between; align-items:center; padding-top:30px;">
  <span>
  </span>
  <!-- options -->
  <span>
  </span>
</div>

<span style="display:flex; justify-content:space-between">
  <!-- Weight on Order -->
  <span style="width: 58%">
    {% if tvd_order_count != 0 or ues_order_count != 0 or wp_order_count != 0 %}
      {% if library.librarian == user %}
      <!-- to library crates -->
      <div style="border: 1px solid black; margin:20px 0px; padding:10px">
        <div style="display:flex; justify-content:space-between; align-items:center">
          <span>
            <strong style="font-size:1.5rem">On Order From Distributors</strong> 
          </span>
          <span>
          </span>
        </div>
        <table class="table" style="margin-top:15px">
          <thead>
            <tr>
              <th>Distributor</th>
              <th style="text-align:center;">Total</th>
              <th style="text-align:center;">Today</th>
              <th style="text-align:center;">1</th>
              <th style="text-align:center;">2</th>
              <th style="text-align:center;">3</th>
              <th style="text-align:center;">4</th>
            </tr>
          </thead>
          <tbody>
          
            <!-- #region TVD available to order -->
            {% if tvd_order_count != 0 %}
              <tr>
                <td>Triple Vision Distribution</td>
                <!-- total -->
                <td style="text-align:center">{{ tvd_order_count }}</td>
                <!-- today -->
                {% if tvd_order_count_availible_today > 20.00 %}
                  <td style="text-align:center; color:red">
                {% elif tvd_order_count_availible_today >= 15.00 %}
                  <td style="text-align:center; color:green">
                {% else %}
                  <td style="text-align:center; color:black">
                {% endif %}
                {{ tvd_order_count_availible_today }}
                </td>
                <!-- 1 week -->
                {% if tvd_order_count_availible_today == tvd_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if tvd_order_count_availible_one_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif tvd_order_count_availible_one_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ tvd_order_count_availible_one_week }}
                  </td>
                {% endif %}
                <!-- 2 weeks -->
                {% if tvd_order_count_availible_two_week == tvd_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if tvd_order_count_availible_two_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif tvd_order_count_availible_two_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ tvd_order_count_availible_two_week }}
                {% endif %}
                </td>
                <!-- 3 weeks -->
                {% if tvd_order_count_availible_two_week == tvd_order_count_availible_three_week %}
                  <td></td>
                {% else %}
                  {% if tvd_order_count_availible_three_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif tvd_order_count_availible_three_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ tvd_order_count_availible_three_week }}
                  </td>
                {% endif %}
                <!-- 4 weeks -->
                {% if tvd_order_count_availible_three_week == tvd_order_count_availible_four_week %}
                  <td></td>
                {% else %}
                  {% if tvd_order_count_availible_four_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif tvd_order_count_availible_four_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ tvd_order_count_availible_four_week }}
                  </td>
                {% endif %}
              </tr>
            {% endif %}
            <!-- #endregion -->

            <!-- #region UES available to order -->
            {% if ues_order_count != 0 %}
              <tr>
                <td>Unearthed Sounds Distribution</td>
                <!-- total -->
                <td style="text-align:center">{{ ues_order_count }}</td>
                <!-- today -->
                {% if ues_order_count_availible_today > 20.00 %}
                  <td style="text-align:center; color:red">
                {% elif ues_order_count_availible_today >= 15.00 %}
                  <td style="text-align:center; color:green">
                {% else %}
                  <td style="text-align:center; color:black">
                {% endif %}
                {{ ues_order_count_availible_today }}
                </td>
                <!-- 1 week -->
                {% if ues_order_count_availible_today == ues_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if ues_order_count_availible_one_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif ues_order_count_availible_one_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ ues_order_count_availible_one_week }}
                  </td>
                {% endif %}
                <!-- 2 weeks -->
                {% if ues_order_count_availible_two_week == ues_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if ues_order_count_availible_two_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif ues_order_count_availible_two_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ ues_order_count_availible_two_week }}
                {% endif %}
                </td>
                <!-- 3 weeks -->
                {% if ues_order_count_availible_two_week == ues_order_count_availible_three_week %}
                  <td></td>
                {% else %}
                  {% if ues_order_count_availible_three_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif ues_order_count_availible_three_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ ues_order_count_availible_three_week }}
                  </td>
                {% endif %}
                <!-- 4 weeks -->
                {% if ues_order_count_availible_three_week == ues_order_count_availible_four_week %}
                  <td></td>
                {% else %}
                  {% if ues_order_count_availible_four_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif ues_order_count_availible_four_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ ues_order_count_availible_four_week }}
                  </td>
                {% endif %}
              </tr>
            {% endif %}
            <!-- #endregion -->

            <!-- #region WP available to order -->
            {% if wp_order_count != 0 %}
              <tr>
                <td>White Peach Distribution</td>
                <!-- total -->
                <td style="text-align:center">{{ wp_order_count }}</td>
                <!-- today -->
                {% if wp_order_count_availible_today > 20.00 %}
                  <td style="text-align:center; color:red">
                {% elif wp_order_count_availible_today >= 15.00 %}
                  <td style="text-align:center; color:green">
                {% else %}
                  <td style="text-align:center; color:black">
                {% endif %}
                {{ wp_order_count_availible_today }}
                </td>
                <!-- 1 week -->
                {% if wp_order_count_availible_today == wp_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if wp_order_count_availible_one_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif wp_order_count_availible_one_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ wp_order_count_availible_one_week }}
                  </td>
                {% endif %}
                <!-- 2 weeks -->
                {% if wp_order_count_availible_two_week == wp_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if wp_order_count_availible_two_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif wp_order_count_availible_two_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ wp_order_count_availible_two_week }}
                {% endif %}
                </td>
                <!-- 3 weeks -->
                {% if wp_order_count_availible_two_week == wp_order_count_availible_three_week %}
                  <td></td>
                {% else %}
                  {% if wp_order_count_availible_three_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif wp_order_count_availible_three_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ wp_order_count_availible_three_week }}
                  </td>
                {% endif %}
                <!-- 4 weeks -->
                {% if wp_order_count_availible_three_week == wp_order_count_availible_four_week %}
                  <td></td>
                {% else %}
                  {% if wp_order_count_availible_four_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif wp_order_count_availible_four_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ wp_order_count_availible_four_week }}
                  </td>
                {% endif %}
              </tr>
            {% endif %}
            <!-- #endregion -->

            <!-- #region KUD available to order -->
            {% if kud_order_count != 0 %}
              <tr>
                <td>Kudos Distribution</td>
                <!-- total -->
                <td style="text-align:center">{{ kud_order_count }}</td>
                <!-- today -->
                {% if kud_order_count_availible_today > 20.00 %}
                  <td style="text-align:center; color:red">
                {% elif kud_order_count_availible_today >= 15.00 %}
                  <td style="text-align:center; color:green">
                {% else %}
                  <td style="text-align:center; color:black">
                {% endif %}
                {{ kud_order_count_availible_today }}
                </td>
                <!-- 1 week -->
                {% if kud_order_count_availible_today == kud_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if kud_order_count_availible_one_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif kud_order_count_availible_one_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ kud_order_count_availible_one_week }}
                  </td>
                {% endif %}
                <!-- 2 weeks -->
                {% if kud_order_count_availible_two_week == kud_order_count_availible_one_week %}
                  <td></td>
                {% else %}
                  {% if kud_order_count_availible_two_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif kud_order_count_availible_two_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ kud_order_count_availible_two_week }}
                {% endif %}
                </td>
                <!-- 3 weeks -->
                {% if kud_order_count_availible_two_week == kud_order_count_availible_three_week %}
                  <td></td>
                {% else %}
                  {% if kud_order_count_availible_three_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif kud_order_count_availible_three_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ kud_order_count_availible_three_week }}
                  </td>
                {% endif %}
                <!-- 4 weeks -->
                {% if kud_order_count_availible_three_week == kud_order_count_availible_four_week %}
                  <td></td>
                {% else %}
                  {% if kud_order_count_availible_four_week > 20.00 %}
                    <td style="text-align:center; color:red">
                  {% elif kud_order_count_availible_four_week >= 15.00 %}
                    <td style="text-align:center; color:green">
                  {% else %}
                    <td style="text-align:center; color:black">
                  {% endif %}
                  {{ kud_order_count_availible_four_week }}
                  </td>
                {% endif %}
              </tr>
            {% endif %}
            <!-- #endregion -->

          </tbody>
        </table> 
      </div>
      {% endif %}
    {% endif %}
  </span>
  <!-- accounts -->
  <span style="width: 40%">
    <div style="border: 1px solid black; margin:20px 0px; padding:10px">
      <div style="display:flex; justify-content:space-between; align-items:center">
        <span>
          <strong style="font-size:1.5rem">Accounts</strong> 
        </span>
        <span>
        </span>
      </div>
      <ul>
        <br>
        {% for cb in cashbook_months %}
          <li>
            <a href="{% url 'cashbook' library.id cb.id %}" class="btn btn-secondary btn-sm" target="_blank"><i class="fas fa-book"></i> Cashbook {{ cb.start_date|date:'m Y'}}</a>
          </li> 
        {% endfor %}
        <li>
          <a href="{% url 'cashflow_forecast' library.id %}" class="btn btn-secondary btn-sm" target="_blank">Cashflow Forcast</a>
        </li>
        <li>
          <a href="{% url 'cashbook_month_add' library.id %}" class="btn btn-warning btn-sm" target="_blank"><i class="fas fa-plus"></i> Cashbook Month</a>
        </li>
        <li>Bank Accounts</li>
        <li>Cashflow Forcast</li>
        <li>
          <a href="{% url 'accounts' library.id user.member.id %}" class="btn btn-warning btn-sm" target="_blank">Accounts</a>
        </li>
      </ul>
    </div>
  </span>
</span>

<div style="margin-top:30px; display:flex; justify-content:space-between">
  <!--#region vinyl invoices -->
    <div style="width:700px">
      <span><strong>Vinyl Invoices</strong></span>
      <table class="table" style="margin-top:20px">
        <thead>
          <tr>
            <th>#</th>
            <th>Member</th>
            <th>Date</th>
            <th>Total</th>
            <th class="text-center">Ordered</th>
            <th class="text-center">Paid</th>
            <th></th>
          </tr>
        </thead>
        {% for order in invoices %}  
          <tbody>
            <tr>
              <td>{{ order.id|stringformat:"06d" }}</td>
              <td>{{ order.member.membership_number }}</td>
              <td>{{order.created|date:"d m" }}</td>
              <td>${{ order.get_total_cost }}</td>
              {% if order.on_order == True %}
                <td style="color:green" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
              {% else %}
                <td style="color:red" class="text-center">
                  <i class="fas fa-times"></i>
                </td>
              {% endif %}

              {% if order.paid == True %}
                <td style="color:green" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
              {% else %}
                <td style="color:red" class="text-center">
                  <i class="fas fa-times"></i>
                </td>
              {% endif %}
              <td style="display:flex">
                <a href="{% url 'invoice' library.id order.id user.member.id %}" class="btn btn-warning btn-sm" target="_blank"><i class="fas fa-eye"></i></a>
                {% if order.paid != True and library.librarian == user %}
                  <form action="{% url 'invoice_pay_submission' library.id order.id %}" method="post" style="margin-left:5px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-money-bill"></i></button>
                  </form>
                {% endif %}
              </td>
            </tr>
          </tbody> 
        {% endfor %}
      </table>
    </div> 
  <!--#endregion -->

  <!-- shipping invoices -->
  <div style="width:700px">
    <span><strong>Shipping Invoices</strong></span>
    <table class="table" style="margin-top:20px">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th class="text-center">Total</th>
          <th class="text-center">Paid</th>
          <th class="text-center">Packed</th>
          <th class="text-center">Sent</th>
          <th class="text-center">Recieved</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for shipment in shipping_invoices %}
          {% if shipment.shipping_cost or library.librarian == user %}
            <tr>
              <td>ATH-SHP-{{ shipment.id|stringformat:"05d" }}</td>
              <td>{{ shipment.created|date:"d m Y" }}</td>
              {% if shipment.shipping_cost %}
                <td class="text-center">${{ shipment.shipping_cost }}</td>
              {% else %}
                <td class="text-center">TBC</td>
              {% endif %}
              {% if shipment.paid == True %}
                <td style="color:green" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
              {% else %}
                <td style="color:red" class="text-center">
                  <i class="fas fa-times"></i>
                </td>
              {% endif %}
              {% if shipment.all_items_packed == True %}
                <td style="color:green" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
              {% else %}
                <td style="color:red" class="text-center">
                  <i class="fas fa-times"></i>
                </td>
              {% endif %}
              {% if shipment.sent == True %}
                <td style="color:green" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
              {% else %}
                <td  class="text-center">
                  <a href="{% url 'shipment_sent' library.id shipment.id user.member.id %}" style="color:red"><i class="fas fa-plane"></i></a>
                </td>
              {% endif %}
              {% if shipment.all_items_recieved == True %}
                <td style="color:green" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
              {% else %}
                <td style="color:red" class="text-center">
                  <i class="fas fa-times"></i>
                </td>
              {% endif %}
              <td style="display:flex">
                <a href="{% url 'shipping_invoice' library.id shipment.id shipment.member.id %}" class="btn btn-warning btn-sm" target="_blank"><i class="fas fa-eye"></i></a>
                {% if shipment.paid != True and library.librarian == user %}
                  <form action="{% url 'shipping_invoice_pay_submission' library.id shipment.id user.member.id %}" method="post" style="margin-left:5px" target="_blank">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-money-bill"></i></button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>     
    </table>
  </div>      
</div>

{% endblock %}